*{
    margin: 0; 
    padding: 0; 
}

nav{
    color: red;
}

#hero-section{
    color: blue;
    }

#our_story-section {
    display: flex;
    flex-direction: row;
    color: grey; 
    justify-content: space-around; 
    margin-left: 100px;
}

#our_story-section h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 100px;
    color: black; 
    font-size: 20px;
}

#our_story-section img {
    margin: 50px 10px 50px 230px;
    width: auto; 
    height: 190px; 
}

#our_story-text {
    display: flex;  
    flex-direction: column;
    margin: 50px 20px 50px -20px;
}

#our_story-text p {
    margin-right: 200px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


#our_story-text button { 
    background-color: transparent; 
    width: 130px;
    height: 40px; 
    margin-left: 100px;
    text-transform: uppercase;
    color: #44d8be; 
    border-color: #44d8be; 
    border-width: 1px ;
    text-align: center;
    border-radius: 5px; 
    margin-top: 10px; 
    box-shadow: none;
    outline: none;
    cursor: pointer;
}


#watch-section{
    color: darkred;
}
#expertise-section{

    color: fuchsia;
}

#team-section{
    color: yellowgreen;
}
#contact_client-section{
    color: lightsalmon
}
footer{
    color: blueviolet;
}