* {
  margin: 0;
  padding: 0;
}
.top-section {
  background-image: url(./images/design-assets/bgk-header.png);
  background-repeat: no-repeat;
  background-size: 100%, auto;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* ///////////
NAVIGATION BAR
/////////////*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 15px;
}
.nav:link {
  text-decoration: none;
}

.nav-left {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.nav-left a {
  height: 100%;
  text-decoration: none;
}
.nav-left span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #00e0d0;
}

.nav-right {
  /* border: 2px solid green; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(10px) 0.5vw;
  width: 55%;
  align-items: center;
  /* margin-left: 50px; */
}

.nav-ul {
  /* border: 2px solid yellow; */
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 80%;
}

.nav li {
  text-decoration: none;
  justify-content: space-around;
}

nav a {
  /* border: 2px solid yellow; */
  padding: 8px;
  color: white;
  text-decoration: none;
}

nav li :hover {
  color: #ffffff;
  background-color: #00e0d0;
}

nav li :active {
  color: #00e0d0;
}

/* ///////////
----HERO------
/////////////*/

#hero-section {
  position: absolute;
  top: 130px;
  /* border: 2px solid yellow; */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-section .text {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#hero-section .text h2 {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}
#hero-section .text p {
  font-size: 0.8em;
  font-family: arial;
  font-weight: lighter;
  width: 50%;
}

.line {
  border: none;
  height: 1px;
  width: 5%;
  background-color: #00e0d0;
  margin: 15px;
}

.text .button {
  background-color: none;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8vw;
  margin: 40px;
  width: 10%;
}

.text .button:hover {
  background-color: #00e0d0;
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* our-story section */

#our_story-section {
  display: flex;
  flex-direction: row;
  color: grey;
  justify-content: space-around;
  align-items: center;
  
}

.our-story-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}

#our_story-text h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
}

.img-our-story {
    height: 150px; 
}

#our_story-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 0 50px 0;
  width: 60%; 
}

#our_story-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.button-learn-more {
    background-color: none;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    width: 20%;

  }
  
  .button-learn-more:hover {
    background-color: #00e0d0;
    border: 1px solid #ffffff;
    color: #ffffff;
  }

.watch-container {
  background-image: url(images/design-assets/bgk-middle.png);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* //////////////
----EXPERTISE------
///////////////*/
#expertise-section {
  color: black;
  /* border: 2px solid blue; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exp-title h2 {
  color: black;
  font-size: 20px;
  padding-bottom: 7px;
}
.exp-title p {
  color: grey;
  font-size: 15px;
}

#expertise-section .line {
  height: 1px;
  width: 5%;
  background-color: grey;
  /* margin: 20px; */
}

#expertise-section .grid-container {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  width: 60%;
  margin-bottom: 50px;
}

.grid-container a {
  color: black;
  text-decoration: none;
}

.grid-item {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.gridline1 {
  border: 1px solid lightgrey;
  border-right-style: solid;
  border-left-style: none;
  border-top-style: none;
  border-bottom-style: solid;
}
.gridline2 {
  border: 1px solid lightgrey;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: none;
  border-bottom-style: solid;
}

.gridline3 {
  border: 1px solid lightgrey;
  border-right-style: none;
  border-left-style: solid;
  border-top-style: none;
  border-bottom-style: solid;
}

.gridline4 {
  border: 1px solid lightgrey;
  border-right-style: solid;
  border-left-style: none;
  border-top-style: solid;
  border-bottom-style: none;
}

.gridline5 {
  border: 1px solid lightgrey;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: none;
}

.gridline6 {
  border: 1px solid lightgrey;
  border-right-style: none;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: none;
}

.grid-item h4 {
  color: black;
  font-size: 10px;
}
.grid-item p {
  /* border: 2px solid rgb(140, 49, 64); */
  color: darkgrey;
  margin: 10% 10%;
  font-size: 10px;
  line-height: 15px;
}
.grid-item img {
  /* border: 2px solid olive; */
  height: 2rem;
  margin: 10% 10%;
}

/* end expertise section  */

#section5 {
  background-image: url("images/design-assets/bgk-header.png");
  min-height: 70vh;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
  width: 100%;
}

#wrap5 {
 
  align-items: center;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

}
#flexteam {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*margin-left: 20%;*/

  gap: 10px;
}
.person1 {
  /* height: 29vh; */
  min-width: 17%;
  background-color: rgba(110, 110, 110, 0);
  
  border: solid 1px rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.person1 > h4 {
  color: grey;
  font-size: small;
  margin-bottom: 10px;
}
#flexteam > h4 {
  color: goldenrod;
}

.person1:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in;
}

.header2 h2 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.header2 p {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.header2 p {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.btn{
  color: rgb(0, 255, 149);
  width: 150px;
  height: 40px;
  background-color: rgba(1, 252, 239, 0);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
 
  border: solid 1px rgb(0, 255, 149);
  font-weight: bolder;
  text-align: center;
}
.btn:hover {
  border: solid 2px rgb(247, 76, 8);
  color: rgb(247, 76, 8);
  cursor: pointer;
}
.staffpic { 
  margin-bottom: 20px;
}

.section5button {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 60px;
}

/* ########################### */
/* CONTACT AND CLIENT SECTION */
/* ########################### */
#contact_client-section {
  width: 100%;
  min-height: 620px;
  border: solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contanct-client-container {
  /* border: solid rosybrown; */
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-form {
  /* border: solid yellow; */
  width: 50%;
  height: 100%;
  /* margin: 50px 0px; */

}
.contact-form h3{
 margin: 10px;
}

.contact-form form {
  /* border: solid green; */
  width: 100%;
}

.form-input {
  /* border: 1px solid grey; */
  width: 92%;
  margin: 10px;
  height: 50px;
}
.contact-form textarea{
  height: 20em;
}
.contact-form button{
  height: 3em;
  width: 8em;
  background-color: white;
  color: #00e0d0;
  border: solid 2px #00e0d0;
}

.client-container{
  width: 50%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0px;
}
.client-container h3{
  margin: 0px 50px;
 }

.client-container #client-logos {
  /* border: 5px solid violet; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  width: 100%;
}

.client-item {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  /* margin: 0px 20px 0px 50px; */
}
.client-item img {
  /* border: 2px solid orange; */
  width: 100%;
  margin: 20px; 
}

#footer {
  color: white;
  background-image: url(./images/design-assets/bgk-footer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 40px 0 40px 0;
  gap: 50px;
}

.footer-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 67%; 
}

/* first block */

#tajam_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
}

#tajam_footer p {
  line-height: 20px;
  padding-top: 20px;
}

#help-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#help-footer a {
  color: white;
  text-decoration: none;
}

/* second block */

#our-studio {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

#address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 35px;
  column-gap: 10px;
}

#phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  column-gap: 10px;
}

#our-studio p {
  line-height: 20px;
}

#our-studio img {
  width: 20px;
  height: 25px;
}

/* third block */

#stay-in-touch {
  display: flex;
  flex-direction: column;
  /* padding-top: 25px; */
}
::placeholder {
  color: grey;
}

#stay-in-touch > p {
  margin-top: 45px;
  /* margin-left: 80px; */
}

#subscribe {
  display: flex;
  align-items: row;
  width: 200px;
  height: auto;
  margin-bottom: 19px;
  margin-top: 35px;
}

#newsletter {
  font-size: 13px;
  background: transparent;
  border: 1px solid;
  border-color: grey;
  width: 185px;
  height: auto;
  padding-left: 15px;
}

#subscribe > button {
  width: 60px;
  margin-left: 10px;
  padding: 5px 0 5px 0;
  opacity: 40%;
  border: none;
}

#footer-icons img{
    height: 25px;
    width: auto; 
}



@media screen and (max-width: 480px) {
 /* TOP @media query */
 * {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .top-section {
    background-color: #00e0d0;
    min-height: 100%;
    height: 400px;
  }
  

  .top-section img {
    width: 100%;
  }

  body {
    width: 100%;
  }

  .our-story-container {
    margin-left: 0; 
  }

  .nav-right{
    font-size: 5px;
  }
 

  /* CONTACT CLIENT @media query */
  .contanct-client-container {
    border: solid rosybrown;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5%;
  
  }
}

